:root {
  --white: #F9F5EB;
  --dark: #16213E;
  --dark-two: #2C3333;
  --semi-dark: #0F3460;
}

/* Charts CSS */

.main-chart-container {
  height: 200px;
}

p.store-description {
  font-size: 24px;
  text-align: justify;
}

.table-scrollbar {
  height: 400px;
  overflow: auto;
}

.grilla_resumen {
  display: grid;
  /* justify-content: center; */
  grid-template-rows: 100% 50%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.grilla_canales {
  display: grid;
  /* justify-content: center; */
  grid-template-rows: 100% 50%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.subitem {
  width: 50%;
}

.item_grilla {
  border: 1px solid #000;
  border-radius: 5px;
}

.item-inline {
  display: inline-flex;
  flex-wrap: nowrap;
}
