:root {
  --white: #F9F5EB;
  --dark: #16213E;
  --dark-two: #2C3333;
  --semi-dark: #0F3460;
}

/* Charts CSS */

.main-chart-container {
  height: 200px;
}

p.store-description {
  font-size: 24px;
  text-align: justify;
}

.table-scrollbar {
  height: 400px;
  overflow: auto;
}
